.Comments{
    text-decoration:none !important;
    color: black;
    
}

.comment{
    text-decoration: none !important;
    font-size: medium;
    border-bottom: 1px dotted #fd2d01;
}

.createComment{
    padding: 10px;
    border-bottom: 1px dotted #fd2d01;
    text-decoration: none;
}

.date{
    text-decoration: none;
}

.user{
    text-decoration: none;
}