.Comments{
    text-decoration:none !important;
    color: black;
    
}

.comment{
    text-decoration: none !important;
    font-size: medium;
    border-bottom: 1px dotted #fd2d01;
}

.createComment{
    padding: 10px;
    border-bottom: 1px dotted #fd2d01;
    text-decoration: none;
}

.date{
    text-decoration: none;
}

.userComment{
    text-decoration: none;
    display: flex;
    float: right;
    
}

.trashButtonComment{
        float: right;
        vertical-align: top;
        display: flex;
        margin-top: 10px;
        background-color: #fd2d01;
        color:white;
        border-color: #fd2d01;
        margin: 2px;
        font-family: "Lato";
        
    
}

@media screen and (max-width: 992px) {
    .trashButtonComment{
        font-size: 20px
    }
}