.userbutton {
    float: right;
    vertical-align: top;
    display: flex;
    margin-top: 10px;
    background-color: #fd2d01;
    color:white;
    border-color: #fd2d01;
    margin: 2px;
    font-family: "Lato";
    
}

.groupologo{
    height: 50px;
    border: #fd2d01 2px solid;
    position: fixed;


}
@media screen and (max-width: 992px) {
    .userbutton{
        flex-direction: column;
    }
}

