.Posts{
    display: flex;
    flex-direction: column;
    align-items: center;
   

}

.post{
    width: 700px;
    background:#ffd7d7;
    border: 2px solid #ffd7d7;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #122442;
    margin-bottom: 20px;
   font-family: "Lato";
}
.date{
    font-size: xx-small;
    font-style: italic;
}

.user{
    float:right;
    font-size: small;
}

.userimg{
    width: 50px;
    height: 40px;
}
.comment{
    font-size: x-small;
    padding-top: 10px;
    padding-left: 5px;
   
}

.iconeComment{
    height: 15px;
    float: left;
    padding-right: 5px;
}
.comment{
    text-decoration: none;
}

.like{
    background-color: #fd2d01;
    color: white;
    margin-left: 15px;
}

.icon{
    float: right;
}

.inputPost{
    height: 50px;
    size:25px;
    width: 500px;
    
}

@media screen and (max-width: 992px) {
    .Posts{
        max-width: 500px;
        margin: auto
    }
    .post{
        max-width: 550px;
    }
    .userbutton{
        flex-direction: column;
        max-width: 75px
    }
    .inputPost{
        max-width: 300px
    }
}

@media screen and (max-width:768px) {

    .post{
        max-width: 250px;
        margin-left: 90px;
    }
    .Posts{
        max-width: 200px;
        margin: auto;
    }
    .userbutton{
        max-width: 50px;
        font-size: xx-small;
    }
    .userimg{
        max-width: 30px;
        max-height: 30px;
    }
    .inputPost{
        max-width: 150px;
    }
    .createPost{
        max-width: 150px;
        margin-left: 50px;
    }
}