.pageProfile{
    height: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lato";
}

.profileButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    width: 500px;
    height: 500px
}

@media screen and (max-width: 992px){
    .pageProfile{
        height: 850px;
    }
}